html {
    display: table;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  max-width: 1280px;
  min-width: 500px;
}

h1{
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;  
  padding: 0;
  font-size: 5vmin;
}

h4 {
  display: inline;
  color: #666;
  font-size: 2vmin;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;  
}
div {
  cursor: default;
}

.header {
  position: relative;
  display: block;
  margin-bottom: 3px;
}

.header .button {
  float: right;
  width: 6vmin;
  height: 6vmin;
  font-size: 5vmin;
  border-radius: 6px;
  box-shadow: none;
  text-align: center;
  vertical-align: center;
  padding: 0;
  display: none;
  /*margin: 3px 10px 3px 10px;*/
}

.header .addRequest {
  background-color: #ada;
}

.header .addBeggar {
  background-color: #aad;
}


.header .button:hover,
.header .button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#content {
  margin: auto;
  display: block;

  margin-top: 1vmin;
  padding-top: 1vmin;

  min-height: 700px;
  background-color: #eee;
  border-radius: 10px;
}

.floating {
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: block;
}

.floating .button {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 2.5vmin;
}

.floating .button:hover,
.floating .button:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
.floating {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.floating .button {
  text-align: center;
  padding: 10px;
  font-size: 3vmin;
}

}
