body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  font-family: "Open Sans", sans-serif;
}

h1{
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;  
  padding: 0;
  font-size: 5vmin;
}

h4 {
  display: inline;
  color: #666;
  font-size: 2vmin;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;  
}

#content {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;

  min-height: 100px;
  background-color: #eee;
  border-style: solid;
}

.header {
  position: relative;
  display: block;
}

/*Beggar table*/

#beggarTable {
  display: block;
  margin: 3vmin 3vmin;
}

.beggarInfo .cell:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.beggarInfo {
  display: inline-block;
  width: 47%;  
  height: 10vh;

  margin-top: 1vmin;
  margin-bottom: 1vmin;
  margin-left: 2%;  
}

.beggarInfo .cell {
  display: inline-block;
  width: 24%;
  height: 100%;

  border-radius: 7px;

  text-align: center;
  font-size: 3vmin;
}

