body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;  
  padding: 0 0 0 0;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

h4 {
  display: inline;
  font-weight: normal;
  color: #999;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0 0 0 0 ;
}

.header {
  position: relative;
}


.tableTitle {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
