/* The list-modal (background) */
.list-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* list-modal Content/Box */
.list-modal-content {   
    max-width: 800px;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
}


/*I can't understand why the title isn't centered*/
.list-modal-content .formTitle {
    padding: 0;
    margin: 0;
    display: inline-block;
    widows: 100%;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.list-modal-content .formContent {
    margin-top: 15px;
    margin-bottom: 15px;
}


.list-modal-content .requestInfo {
    display: inline-block;
    padding-top: 1vh;
    margin-top: 0.5vh;
    width: 100%;
    height: 15vh;
    
    font-size: 3vmin;
    border-radius: 7px;
}

.list-modal-content .requestInfo .cell {
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.list-modal-content .requestInfo .amount:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.list-modal-content .requestInfo .amount {
    width: 20%;
    border-radius: 5px;
    font-weight: bold;
}

.list-modal-content .requestInfo .other{
    width: 70%;
    font-size: 3vmin;
    overflow: auto;
    border-radius: 5px;
    position: relative;
}

.list-modal-content .requestInfo .createdOn{
    display: inline-block;
    position: relative;
    top: -6px;
    margin-right: 0;
    padding: 2px 5px 2px 0;
    width: 90%;
    font-size: 2vmin;
    border-radius: 5px;
    text-align: right;
}


.list-modal-content .requestInfo .other .reason:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.list-modal-content .requestInfo .other .reason{
    display: block;

    padding: 10px 2px 0 2px;
    word-wrap: break-word;
    overflow: hidden;
}

.list-modal-content .requestInfo .other .option {
    display: table;
    margin-top: 3px;
    table-layout: fixed;
    
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.list-modal-content .option button {
    display: table-cell;
    border-radius: 6px;  
    box-shadow: none;
    border: none;
    font-size: 2.6vmin;
    margin: 3px;
    padding: 3px 10px 3px 10px;
}

/*Dispute*/
.red {
    background-color: #dd5555;
}

/*Waitng approval*/
.green {
    background-color: #aaeeaa;
}

/*Waiting payment*/
.yellow {
    background-color: rgba(255, 241, 133, 1);
}

/*Paid*/
.gray {
    background-color: #eeeeee;
}

.opacity2 {
    opacity: 0.2;
}

.darker {
    filter: brightness(50%);
}

.strike {
    text-decoration: line-through;
}

/* The Close Button */
.list-modal-content .close {
    display: block;
    width: 100%;
   
    text-align: right;
    color: #aaa;
    font-size: 5vmin;
    font-weight: bold;
    
    position: relative;
    top: 2vmin;
}

.list-modal-content .close:hover,
.list-modal-content .close:focus, {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-modal-content .amount:hover,
.list-modal-content .amount:focus,
.list-modal-content button:hover,
.list-modal-content button:focus  {
    color: white;
    text-decoration: none;
    cursor: pointer;
}