/* The list-modal (background) */
.list-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Dispute*/
.red {
    background-color: rgba(0.5,0,0,0.4);
}

/*Waitng approval*/
.green {
    background-color: rgba(0,0.5,0,0.4);
}

/*Waiting payment*/
.yellow {
    background-color: rgba(0.5,0.5,0,0.4);
}

/*Paid*/
.gray {
    background-color: rgba(0,0,0,0.4);
}


/* list-modal Content/Box */
.list-modal-content {
    max-width: 600px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
}

.list-modal-content .formTitle {
    display: inline-block;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    color: #666;
}
.list-modal-content .formHeader {
    margin-top: 20px;
}

.list-modal-content .formContent {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-modal-content .formContent .formText {
    display: block;
    text-align: left;
    font-size: 2.5vmin;
    color: #555;
}

.list-modal-content .formButton {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    width: 98%;
    font-size: 3vmin;  
    border-radius: 6px;  
    box-shadow: none;
    border: none;
    background-color: #9e9;
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 5vmin;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}